body {
    background: #202020;
    color: white;
    font-size: 1.5rem;
}
*::selection{
    user-select: none;
    
}

.rotTex{
    transform: rotate(90deg);
    display: block;
}
img {
    border-radius: 15px;
    height: 550px;
}

.head {
    font-size: 2rem;
}

.nvisio{
    display: none;
}


/* my row styles */
.rowthing {
    height: 50vh;
}

.fake {
    color: #20202000;
}

.gros {
    font-family: 'Source Code Pro', monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}

.data1{
    padding-left: 3%;
    padding-right: 3rem;
}



.bar {
    height: 94vh;
    width: 2rem;
    background: white;
    margin: auto;
    color: #202020;
    align-content: center;
    text-align: center;
    vertical-align: center;
    border-radius: 15px;
    line-height: 5.5rem;
    font-size: 2rem;
}


.textor{
    transform: rotate(-90deg);
    color: #202020;
}

/* scrollbar style */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 15px;
}

::-webkit-scrollbar {
    background: #202020;
}